@model Person 
@{
    var personFirstName = Model.FirstName;
    ViewData["Title"] = personFirstName;
}

<a href="/employee" class="float-left flex align-items">Go Back</a><br>
<h1>Are You Sure to delete this record?</h1>
<hr>
<div class="card">
    <div class="card-header bg-light">
        <h4>Name: @personFirstName @Model.Surname</h4>
    </div>
    <div class="card-body">
        <p>Gender: @Model.Gender</p>
        <p>Salary: @Model.Salary</p>
        <p>Address: @Model.Address</p>
    </div>
</div>
<form asp-controller="Employee" asp-action="Delete" method="POST">
    <input type="hidden" asp-for="ID">
    <button class="btn btn-danger" type="submit">Delete anyway</button>
</form>