@model Person
@{
    ViewData["Title"] = Model.FirstName;
}
<H1> 
<a href="/employee/index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">GO BACK</a> Details for employees </H1>
<ul class="list-group">
  <li class="list-group-item active">First Name: @Model.FirstName </li>
  
  <li class="list-group-item">Last Name :@Model.Surname</li>
  <li class="list-group-item">Address: @Model.Address</li>
  <li class="list-group-item">Salary : @Model.Salary</li>
</ul>





